# React node_modules
/frontend/node_modules/

# React build
/frontend/dist/
/frontend/.next/

# Laravel vendor
/backend/vendor/

# Laravel env file
/backend/.env

# Laravel storage
/backend/storage/*.key
/backend/storage/app/public/*
!/backend/storage/app/public/.gitignore
/backend/storage/framework/cache/data/*
/backend/storage/framework/sessions/*
/backend/storage/framework/testing/*
/backend/storage/framework/views/*
/backend/storage/logs/*.log

# IDE
.vscode/
.idea/
*.log
.DS_Store
